/* Import Google font - Poppins */

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9DAAF2;
    overflow-y: auto;
}

.wrapper{
    width: 80%;
    height: 80%;
    background: #DFFDFF;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.6);
    position: absolute;
}

.wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

header .icons{
    display: flex;
}

header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #000;
    text-align: center;
    line-height: 38px;
    font-size: 2.3rem;
    user-select: none;
    border-radius: 50%;
}

.icons span:last-child{
    margin-right: -10px;
}

header .icons span:hover{
    background: #9DAAF2;
}

header .currentDate{
    font-size: 2.3rem;
    font-weight: 600;
    text-decoration: underline;
}

.calendar{
    padding: 20px;
}

.calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .days{
    margin-bottom: 5px;
}

.calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 0.8rem;
}

.calendar .weeks li{
    font-weight: 700;
    cursor: default;
    text-decoration: underline;
}

.calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 3.5%;
}

.days li.inactive{
    color: #aaaaaa;
}

.days li.active{
    color: #ffffff;
}

.days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before{
    background: #3b4ca8;
}

.days li:not(.active):hover::before{
    background: #9DAAF2;
}


#dateSelecterBtn{
    color: #000;
    font-size: 1.5rem;
}

#dateSelecterBtn:hover{
    color: #3b4ca8;
    font-size: 2rem;
}

#dateSelecter{
    padding-top: 5px;
    text-align: center;
    justify-content: center;
}


#dateSelecterBtn, #dateSelecter{
    cursor: pointer;
}

.selecter{
    position: relative;
    left: 27%;
}

.hasEvent{
    color: yellow;
}
